.title div{
    margin-left: 5%;
    line-height: 1.2;
    font-size: 150px;
    letter-spacing: 20px;
}

.title h2{
    font-size: 30px;
    line-height: 1;
    letter-spacing: 5px;
}

.dicas-sec{
    padding: 3%;
}

.dicas{
    width: 450px; height: 410px;
    background-color: #e6fffd;
    border-radius: 40px;
    padding: 2%;
    margin: 10px;
}

.dicas h2{
    line-height: 1.1;
    font-size: 3em;
    padding-bottom: 15px;
    color: #175651;
}

.dicas p{
    line-height: 1.15;
    text-align: left;
    font-size: 1.6em;
    color: #02b4a4;
}

.dicas-premium{
    position: relative; /* Garantir que o Link será posicionado relativamente à div */
    overflow: hidden;
    filter: brightness(80%);
}

.dicas-premium h2, .dicas-premium p{
    filter: blur(3px);
}

.btn-premium {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 10;
    padding: 0px 50px; 
    background-color: rgba(0, 92, 84, .7); 
    color: #02b4a4;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 3px;
    border-radius: 50px; 
    text-decoration: none;
    font-size: 3rem; 
    transition: .2s;
}

.btn-premium:hover{
    color: rgba(0, 92, 84, 1);
    background-color: rgba(5, 175, 161, 0.7);;
}

@media only screen and (max-width: 550px){  
    .title div{
        margin-left: 8%;
        font-size: 60px;
        letter-spacing: 10px;
    }

    .logo-dicas{
        width: 100px;
        height: 65px;
    }
    
    .title h2{
        font-size: 15px;
        letter-spacing: 1px;
    }

    .dicas-sec{
        padding: 3% 0% 0% 0%;
    }
    
    .dicas{
        width: 100%; height: 280px;
        padding: 5%;
    }
    
    .dicas h2{
        font-size: 1.7em;
        padding-bottom: 15px;
    }
    
    .dicas p{
        font-size: 1em;
    }
    
    .btn-premium {
        padding: 0px 40px; 
        line-height: 1.3;
        letter-spacing: 2px;
        font-size: 2rem; 
    }
}