
.checkbox { 
    display: none;
    position: absolute;
    opacity: 0;
} 

.checkboxLabel { 
    display: inline-block; 
    width: 60px; 
    height: 60px;
    border-radius: 50%; 
    border: 6px solid white; 
    cursor: pointer; 
    position: relative; 
} 

.checkbox:checked + label { 
    background-color: #4CAF50; 
    border-color: #4CAF50; 
    border: 6px solid white;
} 

.div-task > h1{
    font-size: 120px;
    line-height: 0.5;
    letter-spacing: 20px;
    color: #02b4a4;
    margin-bottom: 4%;
}

.add-button{
    position: relative;
    left: 95.5%;
    background-color: #B8E8E4;
    color: #01625b;
    font-size: 65px;
    line-height: .9;
    width: 50px; height: 50px;
    border-radius: 60px;
    cursor: pointer;
}

.add-button:hover{
    background-color: #01625b;
    color: #B8E8E4;
    transition: .2s;
}

.add-tarefas-drop{
    position: absolute;
    left: 48%;
    text-align: center;
    opacity: 0;
    z-index: -99;
    visibility: hidden;
    transition: .5s;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
}

.add-tarefa-div:hover .add-tarefas-drop{
    opacity: 1;
    visibility: visible;
    z-index: 99;
}

.add-tarefas{
    padding: 2% 8%;
    width: auto;
    background-color: #B8E8E4;
    border-radius: 30px;
    line-height: 1;
}

.add-tarefas h2{
    color: #0E7E75;
    font-size: 62px;
    line-height: 1;
}

.add-tarefas p{
    font-size: 30px;
}

.add-tarefas input{
    font-size: 25px;
    width: 290px;
    padding: 4px 12px;
}

.add-tarefas select{
    font-size: 25px;
    width: 290px;
    padding: 4px 12px;
}

.add-tarefas button{
    font-size: 25px;
    width: 290px;
    height: 40px;
}

.tarefas{
    margin-bottom: 24px;
    padding: 16px;
    border-radius: 30px;
}

.tarefas-dados label, .tarefas-dados span{
    font-size: 30px;
}

.tarefas-dados label{
    padding-top: 4px;
}

.tarefas button{
    font-size: 30px;
    padding: 8px 32px;
}

@media only screen and (max-width: 550px){  
    .tarefas{
        padding: 6px 8px;
    }

    .checkboxLabel {
        width: 25px; 
        height: 25px;
        border-radius: 50%; 
        border: 3px solid white;
    } 
    
    .checkbox:checked + label {
        border: 3px solid white;
    } 
    
    .div-task > h1{
        font-size: 60px;
        line-height: 0.5;
        letter-spacing: 10px;
        margin-bottom: 4%;
    }
    
    .add-button{
        left: 85%;
        font-size: 45px;
        width: 35px; height: 35px;
        border-radius: 60px;
    }
    
    .add-tarefas-drop{
        position: absolute;
        left: 15%;
        opacity: 0;
        z-index: -99;
    }
    
    .add-tarefas{
        padding: 4% 8%;
        width: auto;
        border-radius: 30px;
        line-height: 1;
    }
    
    .add-tarefas h2{
        font-size: 35px;
        line-height: 1;
    }
    
    .add-tarefas p{
        font-size: 20px;
    }
    
    .add-tarefas input{
        font-size: 15px;
        width: 200px;
        padding: 4px 12px;
    }
    
    .add-tarefas select{
        font-size: 15px;
        width: 200px;
        padding: 4px 12px;
    }
    
    .add-tarefas button{
        font-size: 20px;
        width: 200px;
        height: 30px;
    }
    
    .tarefas-dados label, .tarefas-dados span{
        font-size: 8px;
    }
    
    .tarefas button{
        font-size: 12px;
        padding: 2px 10px;
    }
    
    .tarefas-dados label{
        padding-top: 0px;
    }
}